<h1>Hola mundo!</h1>

<div class="container">
    <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in
        <label for="inputEmail" class="sr-only">Email address
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" name="email" required autofocus>
        <label for="inputPassword" class="sr-only">Password
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in
        <input type="hidden" name="_csrf" value="<%=_csrf %>"/>
    </form>
</div> < !-- /container -->
