<div class="container">
      <h3>Usuarios
      <table class='table'>
          <tr>
              <th>ID
              <th>Nombre
              <th>Apellidos
              <th>Email
              <th>
              <th>
              <th>
          </tr>
          <% _.each(users, function(user) { %>
          <tr data-id="<%= user.id %>" data-model="user">
              <td><%= user.id %>
              <td><%= user.name %>
              <td><%= user.lastname %>
              <td><%= user.email %>
              <td><a href="/user/show/<%= user.id %>" class="btn btn-sm btn-primary">Ver</a>
              <td><a href="/user/edit/<%= user.id %>" class="btn btn-sm btn-warning">Mod</a>
            <td><form action="/user/destroy/<%= user.id %>" method="POST">
                      <input type="hidden" name="_method" value="delete"/>
                      <input type="submit" class="btn btn-sm btn-danger" value="Delete"/>
                      <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                  </form>
              </td>
          </tr>
          <% }) %>
      </table>
      <a href="/user/new">Crear Nuevo Usuario</a>
      </div>
